<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
                    Search
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Articles List</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let article of articles; let i = index"
                [class.active]="i == currentIndex">
                {{ article.title }}
                <button type="button" class="btn btn-dark btn-action"  (click)="setActiveArticle(article, i)">View</button>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <app-article-details [viewMode]="true" [currentArticle]="currentArticle"></app-article-details>
    </div>
</div>